body {
    background-color: #5688c7;
}

.center-screen-form{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.custom-background-form{
    background-color: #FFEDDF;
    border-radius: 5%;
    padding: 5% 2%;
}

/* .center-screen-display{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
} */